{%  extends 'base.html.twig' %}

{% block body %}
    <h1>Modification du profil de {{ app.user.email }} :</h1><br />

    {{ form(EditProfil) }}

{% endblock %}

{% block title %}
    Sortir.com
{% endblock %}