<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Accueil</a></li>
        <li><a href="{{ path('app_login') }}" title="se Connecter">Se Connecter</a></li>
        <li><a href="{{ path('sInscrire') }}" title="sign up">Devenir Participant/Organisateur</a></li>
            <!--TODO rendre inaccessible aux participants connecté-->
    </ul>
</nav>